html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
.page-margin {
    margin: 0 20px 0 20px;
}
.mb-3 {
    margin-bottom: 30px;
}

.help-block {
    display: none;
}

.form-helper {
    color: red;
}

h4 {
    margin-bottom: 20px;
}
.not-read-warning {
    color: #ffc107;
}

footer p {
    float: right;
    margin-right: 20px;
}

.float-right-button-holder {
    width: 100%;
    overflow: hidden;
}

@media (min-width: 992px) {
    .border-forms {
        border-left: #ccc solid 1px;
    }

    .big-offset {
        margin-top: 65px;
    }
    .margin-left-right-5 {
        margin: 0 80px 0 80px;
    }

}

.msg-title {
    font-size: 1.3em;
    font-weight: bold;
}

.manage-title {
    margin-bottom: 20px;
}

.my-box-title {
    background-color: #48745a;
    border: 10px solid #48745a;
}

.my-box-title h5 {
    margin: 0;
}

.my-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 40px;
}

.my-box-shadow {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.45); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.45);
}

.message-box {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

@media (max-width: 991px) {
    .border-forms {
        padding-top: 20px;
        margin-top: 20px;
        border-top: #ccc solid 1px;
    }

    .margin-left-right-5 {
        margin: 0 20px 0 20px;
    }

}

/*     MAIN PAGE          */

.banner-area {
    background: url(../images/bg-1c.jpg) center;
    background-size: cover
}
.banner-area .fullscreen {
    height: 969px;
}

@media (max-width: 767.98px) {
    .banner-area .fullscreen {
        height: 700px;
    }
}

.banner-area .overlay {
    background: #222;
    opacity: .9
}

.banner-area .primary-btn {
    padding-left: 30px;
    padding-right: 30px
}

.relative {
    position: relative
}

@media (max-width: 767.98px) {
    .banner-area .fullscreen {
        height: 700px;
    }
}

.banner-content {
    text-align: left;
}
.banner-content h4 {
    font-weight: 400;
    letter-spacing: 3px;
}
.banner-content p {
    padding: 20px 0;
}
    .banner-content h1 {
        font-size: 60px;
        font-weight: 700;
        line-height: 1em;
        margin-top: 20px
    }

        .banner-content h1 span {
            font-weight: 700
        }

@media (max-width: 991.98px) {
    .banner-content h1 {
        font-size: 36px
    }
}

@media (max-width: 991.98px) {
    .banner-content h1 br {
        display: none
    }
}

@media (max-width: 1199.98px) {
    .banner-content h1 {
        font-size: 45px
    }
}

@media (max-width: 414px) {
    .banner-content h1 {
        font-size: 40px
    }
}
.banner-area .primary-btn {
    padding-left: 30px;
    padding-right: 30px;
}

.section-gap {
    padding: 120px 0
}

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99
}

.nav-menu li {
    position: relative;
    white-space: nowrap
}

.nav-menu>li {
    float: left
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block
}

.nav-menu ul ul {
    top: 0;
    left: 100%
}

.nav-menu ul li {
    min-width: 180px;
    text-align: left
}

.sf-arrows .sf-with-ul {
    padding-right: 30px
}

#nav-menu-container {
    margin: 0
}

@media (min-width: 1024px) {
    #nav-menu-container {
        padding-right: 60px
    }
}


.nav-menu a {
    padding: 0 8px 0 8px;
    text-decoration: none;
    display: inline-block;
    color: #222;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    outline: none
}

.nav-menu li:hover>a,
.nav-menu>.menu-active>a {
    color: #8490ff
}

.nav-menu>li {
    margin-left: 10px
}

.nav-menu ul {
    margin: 16px 0 0 0;
    padding: 10px;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
    background: #fff
}

.nav-menu ul li {
    transition: 0.3s
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none
}

.nav-menu ul li:hover>a {
    color: #8490ff
}

.nav-menu ul ul {
    margin: 0
}

#mobile-nav-toggle {
    position: fixed;
    right: 15px;
    z-index: 999;
    top: 16px;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer
}

#mobile-nav-toggle i {
    color: #8490ff;
    font-weight: 900
}
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none
}

#mobile-nav ul li {
    position: relative
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700
}

#mobile-nav ul li a:hover {
    color: #fff
}

#mobile-nav ul li li {
    padding-left: 30px
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #8490ff
}

#mobile-nav ul .menu-has-children li a {
    text-transform: none
}

#mobile-nav ul .menu-item-active {
    color: #8490ff
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none
}

body.mobile-nav-active {
    overflow: hidden
}

body.mobile-nav-active #mobile-nav {
    left: 0
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff
}

