@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
}


<h1 class="mb-2">About this project:</h1>
<p>
    It's a platform for teachers and parents to communicate.<br />
    Teachers can add assignments, grade them, generate class raports. <br />
    Parents can monitor how their kids are performing in school. <br />
</p>
<h2 class="mb-2 mt-5">Requirements for this project:</h2>
<ul>
    <li>Register & log in through the same form</li>
    <li>Login must be in email address format</li>
    <li>Parent can add his kid to the web app (and added to the class that parent choose on the register form - but in KidSpy3300 parent can manually choose class when adding the kid)</li>
    <li>Parent can add one kid or more (it's not China, you can add multiple kids :D)</li>
    <li>Parent can add a picture of their kid</li>
    <li>Parent can delete their kid from the web app</li>
    <li>Teacher may add assignments that he can later grade (also added: grades without assignments)</li>
    <li>Grades avaliable: A, B, C, D, E</li>
    <li>Teacher can edit grades</li>
    <li>Both teacher & parent can see their kid whole grades list</li>
    <li>Parent can only see his kids grades</li>
    <li>Teacher can generate a raport of the class and how it performs</li>
    <li>Both teacher and parent can communicate, with some system of message status implemented</li>
</ul>

<h2 class="mb-2 mt-5">Made by:</h2>
<h2 class="mb-2">Hubert Mijalski</h2>
<h3 class="mb-2">Website: <a href="http://www.hmijalski.pl">hmijalski.pl</a></h3>
<h3 class="mb-5">Mail: <a href="mailto:mijalskihubert@gmail.com">mijalskihubert@gmail.com</a></h3>
