@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
}
<h2 class="mb-2">Hubert Mijalski</h2>
<h3 class="mb-2">Website: <a href="http://www.hmijalski.pl">hmijalski.pl</a></h3>
<h3 class="mb-5">Mail: <a href="mailto:mijalskihubert@gmail.com">mijalskihubert@gmail.com</a></h3>

<div>
    Made for <strong>Internet Applications</strong> class, using: <br />
    .NET CORE MVC, <br />
    C#, <br />
    jQuery, <br />
    less, <br />
    ajax
</div>