@{
    ViewData["Title"] = "Home Page";
}
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-end">
            <div class="banner-content col-lg-4 col-md-12">
                <h4 class="text-uppercase">Best way to spy on your kids!</h4>
                <h1>
                    KidSpy3300			
                </h1>
                <p>
                    Answer to all your <strong>not existing</strong> problems is here.
                </p>
                <a class="btn btn-primary text-uppercase" asp-area="" asp-controller="Register" asp-action="Index">Start using</a>
            </div>												
        </div>
    </div>
</section>

<section class="feature-area section-gap" id="feature">
    <div class="container">
        <div class="row">
            <div class="single-feature col-lg-4">
                <img class="img-fluid" src="/images/f1.png" alt="">
                <h4>No Online Support</h4>
                <p>Yeah, really. Hope it all works, because in a likely case that it breaks, we won't be there to assist.</p>
            </div>
            <div class="single-feature col-lg-4">
                <img class="img-fluid" src="/images/f2.png" alt="">
                <h4>24/7 Round the Clock</h4>
                <p>This one is just funny, I don't even list my phone number on the site.</p>
            </div>
            <div class="single-feature col-lg-4">
                <img class="img-fluid" src="/images/f3.png" alt="">
                <h4>Some functionality</h4>
                <p>You should be able to give marks and send messages between each other, well that's the plan at least.</p>
            </div>												
        </div>
    </div>	
</section>